@model QuestionViewModel

<h1>Добавление вопроса</h1>

<form asp-action="SaveQuestion" method="post">
    <input type="hidden" name="TestId" value="@Model.TestId" />

    <div class="form-group">
        <label asp-for="Content">Вопрос:</label>
        <textarea class="form-control" asp-for="Content" required>@Model.Content</textarea>
        <span asp-validation-for="Content" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label>Ответы:</label>
    </div>

    @for (int i = 0; i < Model.Answers.Count; i++)
    {
        <div class="form-group">

            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="Answers[@i].IsCorrect" value="1" />

                <label class="form-check-label">Верный</label>
            </div>
            <input type="text" class="form-control" name="Answers[@i].Content" placeholder="Ответ" value="@Model.Answers[i].Content" required />
            <span asp-validation-for="Answers" class="text-danger"></span>
        </div>
    }

    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="action" value="save">Сохранить тест</button>
        <button type="submit" class="btn btn-primary" name="action" value="continue">Продолжить добавление вопросов</button>
    </div>
</form>