@{
    ViewData["Title"] = "Home Page";
}

<style>
    
</style>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 text-black mt-5">
            <h1 class="mt-5">
                <strong>
                    Добро пожаловать в веб-приложение
                    <span class="text-primary">LearningCourses</span>
                </strong>
            </h1>
            <p class="mt-5">
                Наше приложение предназначено для облегчения процесса создания, управления и прохождения тестов, а также предоставления материалов для обучения.
            </p>
            <a href="Identity/Account/Register" type="button" class="btn btn-primary btn-lg mt-4">
                Начать использование!
            </a>
        </div>
        <div class="col-md-5 mt-5">
            <img style="width: 350px; height: 350px;" src="https://i.pinimg.com/736x/ad/22/49/ad224913f3683466d8e42d73444c2bc4.jpg"
                 class="mt-5" />
        </div>
    </div>
</div>