@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    <h4>Личный профиль</h4>
    <hr />

    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
